@import 'tailwindcss';

@config '../tailwind.config.ts';

@plugin "daisyui" {
    themes: business --default;
    root: ":root";
}

@plugin "daisyui/theme" {
    name: "mytheme";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(96% 0.006 264.531);
    --color-base-300: oklch(92% 0.022 252.894);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(46.4%, 63.75%, 278.764);
    --color-primary-content: oklch(98% 0.019 200.873);
    --color-secondary: oklch(74% 0.16 232.661);
    --color-secondary-content: oklch(12% 0.042 264.695);
    --color-accent: oklch(79% 0.209 151.711);
    --color-accent-content: oklch(0% 0 0);
    --color-neutral: oklch(20% 0.042 265.755);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}